h1 {
	color: black;
	text-align: center;
	font-family: 'Just Another Hand', cursive;
	font-size: 2.5em;
	}
h2 {
	color: black;
	text-align: center;
	font-family: 'Just Another Hand', cursive;
	font-size: 1.875em;
	}
a,p {
	color: black;
	text-align: center;
	font-family: 'Just Another Hand', cursive;
	font-size: 1.875em;
	}
